@import url('https://fonts.googleapis.com/css2?family=Delius&family=Poppins:wght@100;200;400&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}


.green-gradient {
    background: linear-gradient(to bottom, #9DB675, white);
}

.yellow-gradient {
    background: linear-gradient(to bottom, #FFDB94, white);
}

/* Header and banner */
header {
    height: 22vh;
    width: 100%;
}

#logo {
    max-height: 300px;
}

/* Gerneral classes*/
.centralized {
    margin: auto;
}

.flex {
    display: flex;
    /* Center items horizontally */
   
}

.center{
    align-items: center;
}
.margin-center{
    margin: auto;
}
.space-around{
    justify-content: space-around;
}
.space-between{
    justify-content: space-between;
}
.justify-center{
    justify-content: center;
}
.row {
    flex-direction: row;
}
.column{
    flex-direction: column;
}


.big{
    height: 100vh;
    float: left;
}

/* Content grid*/
.grid-display {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    justify-content: space-around;
    align-content: center;
}

.title {
    grid-column: 2/10;
    grid-row: 1/1;
    font-size: 5em;
    font-family: 'Delius', cursive;
}
.text {
    margin-top: 30px;
    grid-column: 2/10;
    grid-row: 3/3;
}

h1{
    margin: auto;
}
/* Image buttons */

.container {
    margin-top: 30px;
    display: inline-block;
    position: relative;
    align-content: center;
}

#content-busca{
    margin-top: 30px;
}



/* Buttons */
a{
    text-decoration: none;    
}

.orange-btn {
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 233px;
    height: 40px;
    left: 71px;
    top: 375px;

    background: #FA624A;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 100px;
    border: none;
    cursor: pointer;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Footer */
footer{
    margin-top: 140px;
    width: 100%;
    /* background-image: linear-gradient(to top, #FFDB94, white); */
}

footer p {
    margin-top: 50px;
}