* {
    margin: 0;
    padding: 0;
}


.green-gradient {
    background: linear-gradient(to bottom, #9DB675, white);
}

.yellow-gradient {
    background: linear-gradient(to bottom, #FFDB94, white);
}

/* Header and banner */
header {
    height: 10vh;
    width: 100vw;
    background-image: linear-gradient(to bottom, #D6EDFF, #F9FCFF); 
}

#logo {
    max-height: 130px;
}

.banner-img{
   clip-path: inset(50px 50px 50px 50px);
}

.bottom-left-image {
    position: absolute;
    bottom: 70vh;
    left: 0;
  }


/* Gerneral classes*/
.centralized {
    margin: auto;
}

.flex {
    display: flex;
    /* Center items horizontally */
   
}

.center{
    align-items: center;
}
.margin-center{
    margin: auto;
}
.space-around{
    justify-content: space-around;

}
.justify-center{
    justify-content: center;
}
.row {
    flex-direction: row;
}
.column{
    flex-direction: column;
}

/* Buttons */
a{
    text-decoration: none;
}
.orange-btn {
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 233px;
    height: 40px;
    left: 71px;
    top: 375px;

    background: #FA624A;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 100px;
    border: none;
}

/* Footer */
footer{ 
    width: 100%;
    margin-top: 40px;
    background-image: linear-gradient(to top, #D6EDFF, #F9FCFF);
}

footer h1 {
    margin-bottom: 100px;
}
