@import url('https://fonts.googleapis.com/css2?family=Delius&family=Poppins:wght@100;200;400&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}


.green-gradient {
    background: linear-gradient(to bottom, #9DB675, white);
}

.yellow-gradient {
    background: linear-gradient(to bottom, #FFDB94, white);
}

.red-gradient {
    background: linear-gradient(to bottom, #ED8C73, white);
}

.green {
    background-color: #9DB675;
}

.orange {
    background-color: #ED8C73;
}

/* Header and banner */
header {
    height: 15vh;
    width: 100%;
}
#logo {
    max-height: 250px;
}

.headerbutton{
    font-weight: 1000;
    color: black;
}
/* -----------------------*/

/* Banner */
.container{
    height: 30vh;
    background-image: url("https://github.com/brunoob35/treehouse-landing/blob/main/assets/schoolboy.jpeg?raw=true");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    vertical-align: bottom;
    display: table-cell;
    padding-left: 60px;
    color: white;
}

.width30{
    width: 30%;
}
.width50{
    width: 50%;
}

mark {
    -webkit-animation: 1.5s highlight 1.5s 1 normal forwards;
            animation: 1.5s highlight 1.5s 1 normal forwards;
    color: white;
    background: linear-gradient(90deg, #9DB675 50%, rgba(255, 255, 255, 0) 50%);
    background-size: 200% 100%;
    background-position: 100% 0;
  }
  
  @-webkit-keyframes highlight {
    to {
      background-position: 0 0;
    }
  }
  
  @keyframes highlight {
    to {
      background-position: 0 0;
    }
  }


.bottom-left-image {
    position: absolute;
    bottom: 70vh;
    left: 0;
  }


/* Gerneral classes*/
.centralized {
    margin: auto;
}

.flex {
    display: flex;
    /* Center items horizontally */
   
}

.center{
    align-items: center;
}
.margin-center{
    margin: auto;
}
.space-around{
    justify-content: space-around;

}
.justify-center{
    justify-content: center;
}
.row {
    flex-direction: row;
}
.column{
    flex-direction: column;
}

/* Method section */
.grid-container {
    width: 50vw;
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
}

.grid-iten {
    align-items: center;
    text-align: left;
    margin-left: 70px;
    margin-top: 25px;
}

.grid-container4x4 {
    width: 50vw;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    padding: 10px;
}

.icon{
    max-width: 50px;
    padding-bottom: 20px;
}

.bold{
    font-weight: 1000;
}

.padding{
    padding: 15px;
    margin-block: 5px;
}

.spacing{
    margin-top: 40px;
}
.spacing-bottom{
    margin-bottom: 25px;
}

/* Buttons */
.card{
    width: 30%;
    background-color: #FFDB94;
}

.border-radius{
    border-radius: 15px;   
}

.teachers-img {
    width: 80px;
}

/* Buttons */
a{
    text-decoration: none;
    color: black;
}
.orange-btn {
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 233px;
    height: 40px;
    left: 71px;
    top: 375px;

    background: #FA624A;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 100px;
    border: none;
    cursor: pointer;
}

/* Footer */
footer{ 
    width: 100%;
    margin-top: 40px;
    background-image: linear-gradient(to top, #9DB675, white);
}

footer h1 {
    margin-bottom: 100px;
}
